<!DOCTYPE html>
<html>

<div class="container-fluid">
		<div class="row no-gutters justify-content-center">
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
				



				<% for(var i=blogposts.length-1;i>=0;i--){ %>
				
				<div class="standard-box">
					<div class="meta"><a href="/user/<%=blogposts[i].userid._id%>" class="usern"><%=blogposts[i].userid.username%></a></div>
					<div class="date"><%=blogposts[i].datePosted.toDateString()%></div>
					<div class="postBody"><a href="/post/<%=blogposts[i]._id%>">
						<%-blogposts[i].body %>
					</a></div>
					<% if(blogposts[i].image){ %>
<img src="<%=blogposts[i].image%>">
					<%} else {%>
				
				
					<%} %>







					<!--<img src="<%=blogposts[i].image%>">-->
				


					<% if(blogposts[i].userid._id==useridnumber){ %>
				<div>
					<span class="editButton">Edit</span>
					<span class="deleteButton1">Delete</span>
				</div>

				<div class="editModal">
				  <div class="modalContentStyle">
				      <div class="close1">&times;</div>
				        <form action="/posts/edit" method="POST">
									<textarea id="summernoteEdit" name="body"><%-blogposts[i].body %></textarea>
					<script>
						$('#summernoteEdit').summernote({
        
        tabsize: 2,
        height: 100,
        toolbar: [
            [ 'style', [ 'style' ] ],
            [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
            [ 'fontname', [ 'fontname' ] ],
            [ 'fontsize', [ 'fontsize' ] ],
            [ 'color', [ 'color' ] ],
            [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
            [ 'table', [ 'table' ] ],
            [ 'insert', [ 'link'] ],
            [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
        ]
      });
					</script>
									<button type="submit" class="postbutton" id="sendMessageButton" name="edit_post" value="<%=blogposts[i]._id%>">Confirm</button>
						</form>
				    
				  	</div>
				</div>

				<div class="deleteModal">
				  <div class="modalContentStyle">
				      <div class="close2">&times;</div>
				        <p>Are you sure you want to delete this post?</p>
				        <div>
				        			
								<span class="cancelButton">Cancel</span>
								<form class="deleteForm" action="/posts/delete" method="post">
									<button type="submit" class="deleteButton2" name="delete_post" value="<%=blogposts[i]._id%>">Delete</button>
								</form>
						</div>
					</div>
				</div>
				
</div>
			
					<%} else {%>
				</div>
				
					<%}} %>
		</div>
	</div>
</div>


</html>