<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbar'); -%>

<% if(useridnumber==undefined) {%>
<%- include('layouts/signupPromo'); -%>

<%} else{%>
<%- include('layouts/newpostlayout'); -%>
<%}%>
<%- include('layouts/feed'); -%>

<%- include('layouts/scripts'); -%>
</body>

</html>