<!DOCTYPE html>
<html>

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbar'); -%>

<%- include('layouts/newpostlayout'); -%>

<%- include('layouts/feed'); -%>

<%- include('layouts/scripts'); -%>
</body>

</html>